html {
    height: 100%
}
body{
    margin: 0 0 0 0;
    background-image: url("assets/background-clear2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:'Comic Sans MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* STATS BAR */
#stats-bar{
    font-size: 3rem;
    margin-bottom: 10%;
    padding-top: 1%;
    padding-left: 1%;
}

/* PET ROW */
#pets-row {
    margin-left: 25%;
    margin-bottom: 5%;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0% 0px; 
    grid-template-areas: "."; 
    align-content: stretch; 
}

/* SHOP ROW */
#shop-row {  
    margin-left: 15%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0% 0px;
    grid-auto-flow: row;
    align-content: stretch;
    grid-template-areas: "shop-pets shop-food";
    overflow: auto;
}
#shop-pets { grid-area: shop-pets; }
#shop-food { grid-area: shop-food; }

/* FLEX INSIDE ROWS */
#pets,#shop-pets,#shop-food {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: stretch;
}

.flex-item {
    height: 18vh;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

/* HIDDEN */
.hidden{
    display: none;
}