html {
    height: 100%
}
body{
    margin: 0 0 0 0;
    background-image: url("assets/background-clear2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:'Comic Sans MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* STATS BAR */
#stats-bar{
    font-size: 7vh;
    margin-bottom: 20vh;
    padding-top: 1vh;
    padding-left: 3vw;
}

/* ANIMLAS BORDER */
.bordered-asset {
    filter: 
    drop-shadow(-1px -1px 0px black) 
    drop-shadow(2px -1px 0px black) 
    drop-shadow(2px 2px 0px black)
    drop-shadow(-1px 2px 0px black)
}

.no-shadow {
    filter: 
    drop-shadow(0px 0px 0px black)
}

/* PET ROW */
#pets-row {
    margin-left: 25%;
    margin-bottom: 5%;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0% 0px; 
    grid-template-areas: "."; 
    align-content: stretch; 
}

/* SHOP ROW */
#shop-row {  
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0% 0px;
    grid-auto-flow: row;
    align-content: stretch;
    grid-template-areas: "shop-pets shop-food";
    overflow: auto;
}
#shop-pets { grid-area: shop-pets; }
#shop-food { grid-area: shop-food; }

/* FLEX INSIDE ROWS */
#pets,#shop-pets,#shop-food {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: stretch;
}

.flex-item {
    height: 18vh;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 0.5vw;
}

/* PET OR FOOD ELEMENTS */
.asset {
    position: relative;
}
.pet-attack-value, .pet-health-value{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 4vh;
    position: absolute;
    bottom: 0;
    text-align: center;
    -webkit-text-stroke: 1px #fff;

}
.pet-attack-value {
    background-image: url("https://api.iconify.design/fa6-solid:hand-back-fist.svg?color=grey");
    left: 6%;
    min-width: 2.4vw;
}
.pet-health-value {
    background-image: url("https://api.iconify.design/mdi:heart.svg?color=red");
    right: 6%;
    min-width: 3vw;
}
.pet-xp-value{
    color: gold;
    padding-left: 6%;
    position: absolute;
    top: 0;
    left: 0.5vw;
    font-size: 1vw;
}

.price {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://api.iconify.design/noto:coin.svg?color=%23888888");
    font-size: 3vh;
    min-width: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0.5px #fff;
}

.held-food{
    position: absolute;
    max-height: 4.5vh;
    max-width: 4.5vh;
    top: 0;
    right: 1vw;
}

.shop-food{
    padding: 0.5vh;
}

/* HIDDEN */
.hidden{
    display: none;
}